@{
    ViewBag.Title = "About";
}


<style>


    .aboutDiv{

       display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    }
    p{

        text-align:justify;
        color:black;
    }
  
  
        .images{
     width: 40%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 0em;
        }
</style>

@*<div class="">

    <div style="height:200px; width:80%;">
        <img src="~/images/terms-of-use-2.jpg" class="images img-responsive" />
    </div>
  
      <div class="content"style="height:200px; width:50%;">
        <p>
            The Students Collegiate (TSC) was Established in June 2009 for the Promotion of Quality Education
            Generally, in Karachi & Particularly in North Karachi, especially in The Field of Science &
            Commerce, by Providing a Stable and Disciplined Academic Environment, Pertinent to University
            Requirements. Over the Years, the Institute has Expanded in Scope, Services and Stature and has
            Emerged as a Leading Comprehensive Institute in North Karachi.
            Our Institute Produces Students of High Caliber, Capable to Meet the Growing Demands of The 21st
            Century. An Outstanding Feature of the Institute is that While Maintaining Traditional Values of
            Excellence in Teaching, it Challenges Conventional Practices and Creates New Ways of Quality
            Education and Delivering Courses On Most Modern Lines. By the Grace of Almighty Allah, We also
            Started Online Sessions for Aptitude Test Preparation & Coaching Classes for Science & Commerce
            (IX to XII) using Skype / Zoom / Facebook Live
        </p>
    </div>
</div>*@



<div class="row">
   
    <div class="col-md-6">
        <img src="~/images/terms-of-use-2.jpg" style="height:28em; width:94%;" />
    </div>

    <div class="col-md-6" style="position: relative;margin-top: 8%; margin-left:-1%;">
        <p>
            The Students Collegiate (TSC) was Established in June 2009 for the Promotion of Quality Education
            Generally, in Karachi & Particularly in North Karachi, especially in The Field of Science &
            Commerce, by Providing a Stable and Disciplined Academic Environment, Pertinent to University
            Requirements. Over the Years, the Institute has Expanded in Scope, Services and Stature and has
            Emerged as a Leading Comprehensive Institute in North Karachi.
            Our Institute Produces Students of High Caliber, Capable to Meet the Growing Demands of The 21st
            Century. An Outstanding Feature of the Institute is that While Maintaining Traditional Values of
            Excellence in Teaching, it Challenges Conventional Practices and Creates New Ways of Quality
            Education and Delivering Courses On Most Modern Lines. By the Grace of Almighty Allah, We also
            Started Online Sessions for Aptitude Test Preparation & Coaching Classes for Science & Commerce
            (IX to XII) using Skype / Zoom / Facebook Live
        </p>
    </div> 
</div>




<div class="row">
    <div class="col-lg-12">

        <h3 style="text-align:center;">
            Vision Statement</h3>
        <p style="text-align:center;">
            “To be Recognized as the Leader for Providing Nonpareil Education Services to the Society”
        </p>
</div>

    <div class="row">
        <div class="col-lg-12">

            <h3 style="text-align:center;">Mission Statement</h3>
            
            <p style="text-align:center;">
                To Provide Knowledge, Skills & Tools Necessary to Enable Students to Perform to their
                Maximum Potential. We are Dedicated to Finding Ways & Opportunities to Improve the
                Standard, Moral Character & Performance Level of Every Students to make them an Asset for
                the Society”
            </p>
        </div>

    </div>

</div>

      
   