
@{
    ViewBag.Title = "FeeStructure";
}



<h1 style="text-align:center;">Fee-Structure</h1>
<table class="table table-responsive  table-striped table-hover ">

    <tr>
        <th>Class Name</th>
        <th>Fee</th>

    </tr>

    <tr>
        <td>Class – I to Class – V</td>
        <td>Rs. 500 For all Subjects</td>

    </tr>
    <tr>
        <td>Class – VI to Class – VIII</td>
        <td>Rs. 700 For all Subjects</td>
        </tr>

    <tr>
        <td>Class – IX – X</td>
        <td>Rs. 1500 For all Subjects</td>
    </tr>
    <tr>
        <td> XI – XII</td>
        <td>Rs. 1500 For all Subjects</td>
    </tr>

    <tr>
        <td>O – Levels </td>
        <td>Rs. 3000 Per Subject</td>
    </tr>

    <tr>
        <td>A – Levels</td>
        <td> Rs. 5000 Per Subject</td>
    </tr>

    <tr>
        <td>    Aptitude Test Preparation</td>
        <td>  Rs. 16000 (Complete Course Fee)</td>
    </tr>

    <tr>
        <td>    English Language Course </td>
        <td> Rs. 5000 (Complete Course Fee)</td>
    </tr>

    <tr>
        <td>    Computer Courses</td>
        <td>  Rs. 5000 (May vary with the type of Course Selected) </td>
    </tr>

    

</table>

