
@{
    ViewBag.Title = "Services";
}

<style>

        .images{
     width: 100%;
    height:auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 0em;
       }


    
</style>



<div class="jumbotron" style="background-color: #0099cc;
    position: relative;
    margin-top: 3em;">
    <img src="~/images/BUsiness-001.jpg" class="images img-responsive" />
</div>


<p style="text-align:center"><b> TSC is a New-Age Institute Defining New Frontiers in Teaching. Creativity and Innovation are
        Embedded as Core Values in All Scholastic Activities. The Conducive Academic Environment at The
        Campus Facilitates Educational Pursuits. Following are the Major Services Provided by the Institute:
    </b></p>
<hr />

<h1 style="text-align:center;"> Our Services</h1>
<table class="table table-bordered table-striped">
  
    
    <tr>
        <th>1-Academic Classes for science & commerce</th>
        <td>(IX , X, XI, XII, B.COM / B.A)</td>


    </tr>
    <tr>
        <th>2-Practical’s Preparation</th>
        <td>(XI & XII)</td>
    </tr>


    <tr>
        <th>3-Aptitude Test preparation</th>
        <td>(MCAT/ECAT/BCAT)</td>
    </tr>
    <tr>
        <th>4-Tuition Classes For </th>
        <td>Class - I to Class - VIII   <span style="color:red;">(New)*</span></td>
    </tr>


    <tr>
        <th>5-Coaching Classes For  </th>
        <td>O & A Levels  <span style="color:red;">(New)*</span></td>
    </tr>


    <tr>
        <th>6-English language</th>
    </tr>
    <tr>
        <th>
            7-Computer Courses
        </th>
    </tr>


</table>

